[submodule "githubs/hpple"]
	path = githubs/hpple
	url = git://github.com/topfunky/hpple.git
[submodule "githubs/TouchSQL"]
	path = githubs/TouchSQL
	url = git://github.com/schwa/TouchSQL.git
[submodule "githubs/core-plot"]
	path = githubs/core-plot
	url = git://github.com/djw/core-plot.git
[submodule "githubs/gh-unit"]
	path = githubs/gh-unit
	url = git://github.com/gabriel/gh-unit.git
