[submodule "githubs/asi-http-request"]
	path = githubs/asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "githubs/hpple"]
	path = githubs/hpple
	url = git://github.com/topfunky/hpple.git